<<<<<<< HEAD
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
    color: aliceblue;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  header {
    background-color: #666;
    padding: 0;
    text-align: center;
    font-size: 0;
    color: white;
  } 
  
  /*nav {
    float: left;
    width: 100%;
    height: 300px; /* only for demonstration, should be removed
    background: #ccc;
    padding: 20px;
  }*/
  
  .A {
    float: left;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }

  .B {
    float: left;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }

  .C {
    float: right;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    
  }

  .D {
    float: right;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  table {
    width: 100%;
=======
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }


  header {
    background-color: #666;
    padding: 0;
    text-align: center;
    font-size: 0;
    color: white;
  } 
  
  /*nav {
    float: left;
    width: 100%;
    height: 300px; /* only for demonstration, should be removed
    background: #ccc;
    padding: 20px;
  }*/
  
  .A {
    float: left;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }

  .B {
    float: left;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }

  .C {
    float: right;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    
  }

  .D {
    float: right;
    padding: 0;
    width: 50%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
  }
  
  section:after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  table {
    width: 100%;
>>>>>>> 2b6c7f6ff7d0fcca03f688973b146741c84badc0
  }